
@keyframes fade{
  from { opacity: 0; }
  to { opacity: 1; }
}


h1.fade-in{
  animation-name: fade;
  animation-duration: 2s !important;
}

p.fade-in{
  animation-name: fade;
  animation-duration: 5s !important;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/
html{
  font-size:14px;
}

.menu-item{
  margin-top:10px !important;
}

.your-score{
  margin:15px 3px;;
}

.public-score{
  margin:15px 3px;
}

.rating {
  border: none;
  float: right;
  /* padding-bottom:10px !important; */
}

.rating > input { display: none; }
.rating > label:before {
  margin: 3px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
