<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href="{{url_for('static',filename='stylesheet.css')}}" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="container">
    <h1>Welcome to The RIFT</h1>
    <p>It's a place where you can help Irwin make better food.</p>
    <div class="panel panel-default">
      <h3>Menu of April 19</h3>
      <ul class="list-group">
        <li class="list-group-item">Belgium Waffles
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </li>
        <li class="list-group-item">Home Fried Potatoes
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </li>
        <li class="list-group-item">Sausage Links
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </li>
        <li class="list-group-item">Assorted Pastries
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </li>
      </ul>
    </div>
    <div class="panel panel-default">
      <h4>Comments</h4>
      <p> Food good! AAAAAaaaa! </p>
    </div>
  </div>
</body>
</html>
